<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>titleName</key>
			<string>功能引导</string>
			<key>className</key>
			<string>TMGuideViewDemoController</string>
		</dict>
		<dict>
			<key>titleName</key>
			<string>环形分布图</string>
			<key>className</key>
			<string>TMRingDistributionDemoViewController</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>titleName</key>
			<string>tp</string>
			<key>className</key>
			<string>UIViewController</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>titleName</key>
			<string>temp</string>
			<key>className</key>
			<string>UIViewController</string>
		</dict>
		<dict>
			<key>titleName</key>
			<string>temp2</string>
			<key>className</key>
			<string>UIViewController</string>
		</dict>
	</array>
</array>
</plist>
